In [1]:
import pandas as pd
import json
import certifi
import pymongo
from pymongo import MongoClient, InsertOne

In [4]:
#read csv file as strings
df = pd.read_csv('data/links.csv', sep=',', dtype={'link_id': str, 'imdb_movie_id': str, 'tmdb_movie_idbId': str})
#add before each id the prefix 'tt' for imdb and 'tt' for tmdb
df['imdb_movie_id'] = 'tt' + df['imdb_movie_id'].astype(str)


df.head()

  link_id imdb_movie_id  tmdb_movie_id
0       1     tt0114709          862.0
1       2     tt0113497         8844.0
2       3     tt0113228        15602.0
3       4     tt0114885        31357.0
4       5     tt0113041        11862.0

In [6]:
#convert tmdb_movie_id to int but first remove na values
df['tmdb_movie_id'] = df['tmdb_movie_id'].fillna(0).astype(int)
#drop tmdb movie id = 0
df = df[df.tmdb_movie_id != 0]

In [7]:
df.head()

  link_id imdb_movie_id  tmdb_movie_id
0       1     tt0114709            862
1       2     tt0113497           8844
2       3     tt0113228          15602
3       4     tt0114885          31357
4       5     tt0113041          11862

In [ ]:
#export csv
df.to_csv('data/links_clean.csv', index=False)

In [22]:
#convert to json
data = json.loads(df.to_json(orient='records'))
data[1]

{'movieId': '2', 'imdbId': 'tt0113497', 'tmdbId': '8844'}

In [ ]:
client = pymongo.MongoClient("mongodb+srv://ddi:fm5TTfXsENUex8MT@cluster0.rijk1.mongodb.net/?retryWrites=true&w=majority", tlsCAFile=certifi.where())
db = client.universal_movie_db
collection = db.links
#insert data into mongodb for each movie
for link in data:
    collection.insert_one(link)

client.close()